.login-text, .register-text, .area-login-register {
  margin-top: 22px;
  color: #fff;
  font-size: 18px;
}
.login-text:hover, .register-text:hover {
  text-decoration: none;
  color: #2EA93C;
}
.footer .footer-bg .footer-item h3 {
  color: #fff;
}
._navbar .navbar-collapse .navbar-right .dropdown > a {
  margin-top: -12px;
}

._content .main_content .content_right .content_inner .list_product_main .item_product h4 {
  height: 100px;
}

._navbar .navbar-collapse .navbar-right{
  display: block;
}

.sidebar-mb .backdrop{
    top: 50px;
}

.button-area-2 .btn{
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .login-text, .register-text, .area-login-register {
    margin-top: 5px;
    color: #fff;
    font-size: 15px;
  }
  .header_search {max-width:100px}
}
@media (min-width: 767px) and (max-width: 810px) {
  .login-text, .register-text, .area-login-register {
    margin-top: 13px;
    color: #fff;
    font-size: 13.5px;
  }
}

@media (min-width: 810px) and (max-width: 995px) {
  .login-text, .register-text, .area-login-register {
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
  }
}

@media (min-width: 996px) and (max-width: 1050px) {
  .login-text, .register-text, .area-login-register {
    margin-top: 25px;
    color: #fff;
    font-size: 13px;
  }
}

.owl-next {
  margin-right: -20px;
}

.owl-prev {
  margin-left: -20px;
}

.react-count-down {
  margin: 0;
  padding: 2em;
}

.count-down {
  font-size: 200% !important;
  font-weight: 400;
  line-height: 1.5 !important;
  color: #1ba849;
  text-align: center;
}

.my-text-inline {
  display: inline-block;
}

.profile-dropdown-icon {
  width: 18px;
  height: auto;
  margin-right: 5px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.avatar-preview {
  width: 200px;
  height: 200px;
}

.profile-dropdown-item {
  border-bottom: none !important;
}

.avatar-profile {
  border-radius: 50% !important;
  width: 12rem;
  height: 12rem;
}

.avatar-wrapper {
  text-align: center;
}

.form-control:disabled {
  background-color: #f6f8fa !important;
}

.card-list-header {
  display: flex;
  justify-content: space-between;
}

.job-profile-header-text {
  margin-top: 0.35rem;
}

.form-control[readonly] {
  background-color: #ffffff !important;
}

.card-job-profile {
  border: 1px solid #5bd3ff !important;
  border-radius: 0.2rem !important;
}

.card-body-job-profile {
  padding: 1.5rem !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

.card-data-job-profile {
  padding-top: 1.5rem;
}

.category-project-wrapper {
  padding-top: 0.2rem;
}

.category-project {
  background-color: #5bd3ff;
  padding: 0.3rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 5%;
  display: inline-block;
}

.logo-home {
  width: 8rem;
  height: auto;
}

.profile-box {
  text-align: center;
}

.profile-name {
  margin-top: 2rem;
}

.step { position: relative; min-height: 32px /* circle-size */ ; }
.step > div:first-child { position: static; height: 0; }
.step > div:last-child { margin-left: 32px ; padding-left: 16px; }
.circle { background: #4285f4; width: 32px; height: 32px; line-height: 32px; border-radius: 16px; position: relative; color: white; text-align: center; }
.line { position: absolute; border-left: 1px solid gainsboro; left: 16px; bottom: 10px; top: 42px; }
.step:last-child .line { display: none; }
.step-content { line-height: 32px; }

.step-item .body {
  height: 3rem;
}

.step-item .title {
  font-size: 1rem;
}

.rating-item {
  font-size: 1.8rem;
}

.rating-title {
  padding: 0.4rem 0.5rem 0 0;
}

.rating-wrap {
  margin-right: 0.5rem;
}

.m-active a span {
  color: #1991EB !important;
}

.m-unactive a span {
  color: #4A4949 !important;
}
